body{
    background-color: rgb(66, 13, 95);
}
.div-class{
    padding: 20%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: whitesmoke;
    border: 1px black;
}

a[href^="/"] {
  color: brown
}

a[href*="login"] {
  text-decoration: overline;
}

input[required] {
  border-left: 4px solid red;
}

input:focus {
  border-color: blue;
}